* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.heart-nav {
    background-color: rgba(18, 17, 24, 0.8);
}

/* form container */
.container {
    margin: 5px 0;
}

/* form heading section */
.heading h1 {
    display: relative;
    width: 100%;
    margin: 2rem 0 1rem;

}

.heading hr {
    width: 70%;
    height: 0.08rem;
    border: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 0 auto 3rem;

}

/* form section */

.heart-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;

}

.heart-section img {
    height: 32rem;
    width: 42rem;
    padding-top: 5rem;
}

.heart-form {
    max-width: 90%;
    width: 50%;
    margin: auto;
}

.heart-form .form-control {
    width: 100%;
    height: 1.6rem;
    background: white;
    outline: none;
    font-size: 0.7rem;
    border: 1px solid #dcdde1;
    border-radius: 4px;
    margin: 0.6rem 0 0.8rem 0;
    padding: 0 0.7rem;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.form-group .label {
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;

}

.form-group {
    margin: 5px 0 0 0;
}

.heart-form .form-control:focus {
    border-color: rgba(0, 0, 0, 0.7);
}

.heart-form .btn {
    width: 30%;
    outline: none;
    border: none;
    background: linear-gradient(45deg, rgba(20, 5, 3, 0.9) 1%, rgba(232, 24, 59, 0.9) 100%);
    color: #f5f6fa;
    text-shadow: 1px 1px #dfe6e9;
    padding: 1rem 0;
    margin: 1rem auto;
    display: block;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;

}

.heart-form .btn:hover {
    background: linear-gradient(-45deg, rgba(20, 5, 3, 0.9) 1%, rgba(232, 24, 59, 0.9) 100%);
}



.hoverable {
    position: relative;
}

.info {
    position: absolute;
    min-width: 250px;
    top: 0;
    right: 99%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
    pointer-events: none;
    background-color: #fff;
}

.info table th {
    text-align: left;
}

.info ul {
    padding: 0 20px;
}

.label,
.fa {
    user-select: none;
}

.hoverable.active .info {
    opacity: 1;
    right: 103%;
    top: -10%;
    visibility: visible;
}

@media (max-width: 1343px) {
    .heart-section img {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 768px) {
    .heart-form .btn {
        width: 60%;
    }  
}

@media (max-width: 1092px) {
    .info {
        min-width: 250px;
        top: 0;
        left: 12%;
        background-color: rgba(0, 0, 0, 0.9);
        color: blanchedalmond;
    }

    .heart-form {
        width: 100%;
    }
     
}